<p><%= link_to 'Analyses', analyses_path %></p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Data provider:</strong>
  <%= @analysis.data_provider %>
  <br />
  <strong>Subject:</strong>
  <%= @analysis.subject %>
  <br />
  <strong>Q:</strong>
  <%= @analysis.q %>
  <br />
  <strong>Status:</strong>
  <%= @analysis.status %>
  <br />
  <strong>Item Count:</strong>
  <%= @analysis.result_count %>
  
</p>






