<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Items</th>
      <th>Has loc sh</th>
      <th>Loc sh alias</th>
      <th>Loc sh url</th>
      <th>Analysis</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.items %></td>
        <td><%= subject.has_loc_sh %></td>
        <td><%= subject.loc_sh_alias %></td>
        <td><%= subject.loc_sh_url %></td>
        <td><%= subject.analysis %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
